@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 72px;
    background-color: #fffdfe;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

img {
    width: 288px;
}

/* Estilos por defecto (Pantallas grandes - 1280px y más) */
.container {
    display: grid;
    grid-template-columns: repeat(4, 288px [col-start]);
    grid-template-rows: 288px 288px;
    border-radius: 25px;
    background-image: url("./assets/Background_decor.svg");
    background-size: initial;
    background-position: initial;
    background-repeat: no-repeat;
    background-color: #f3f4f6;
    overflow: hidden;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.item-1 span {
    margin-top: 32px;
    margin-left: 32px;
    color: #3662e3;
}

.item-1 strong {
    margin-top: 18px;
    margin-left: 32px;
    font-size: 40px;
    font-weight: 500;
}

.item-1 p {
    margin-top: 15px;
    margin-left: 32px;
    margin-right: 58px;
    color: #565e6b;
}

.item-2 {
    background: #c1b6f8;
    background-image: url("./assets/person_1@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-3 {
    background: #edadd2;
    background-image: url("./assets/person_2@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-4 {
    margin-bottom: 35px;
    margin-left: 32px;
    font-weight: 500;
    color: #565e6b;
}

.item-5 {
    background: #9cc4f8;
    background-image: url("./assets/person_3@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-6 {
    background: #f8d8b1;
    background-image: url("./assets/person_4@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-7 {
    background: #86e7d4;
    background-image: url("./assets/person_5@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    align-items: flex-end;
    text-align: end right;
}

.crew_name {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 42px;
    margin-left: 22px;
}

.crew_position {
    position: absolute;
    color: white;
    margin-bottom: 20px;
    margin-left: 22px;
}

/* Media query para pantallas medianas (hasta 1024px) */
@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 288px [col-start]);
        grid-template-rows: 288px 288px 288px;
        margin: 86px;
    }

    .item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item-5 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item-6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item-7 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

/* Media query para pantallas pequeñas (hasta 640px) */
@media screen and (max-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 285px [col-start]);
        grid-template-rows: 285px 285px 285px 285px;
        margin: 38px;
    }

    .img {
        width: 285px;
    }

    .item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("./assets/person_1.png");
    }

    .item-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("./assets/person_2.png");
    }

    .item-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item-5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url("./assets/person_3.png");
    }

    .item-6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url("./assets/person_4.png");
    }

    .item-7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        background-image: url("./assets/person_5.png");
    }
}
